bin/
build/
build-*/
cmake-build/
cmake-build-*/
data/
ext/
*.pyc
packages/
*.log
*.bak
*.kdev4
.vs/
.vscode/
.idea/
engine/.idea/
engine/.run/
.editorconfig
**/CMakeUserPresets.json

engine/src/version.h
engine/setup/src/include/version.h
