bin/
build/
build-*/
cmake-build/
cmake-build-*/
data/
ext/
*.pyc
packages/
*.log
*.bak
*.sw?
*.kdev4
.vs/
.vscode/
engine/.idea/
.editorconfig

engine/src/version.h
engine/setup/src/include/version.h
