bin/
build/
build-*/
cmake-build/
cmake-build-*/
data/
ext/
*.pyc
packages/
*.log
*.bak
*.sw?
*.kdev4
.vs/
.vscode/
engine/.idea/
.idea/
.venv/
.editorconfig

engine/src/version.h
engine/setup/src/include/version.h


_deps/

engine/doc/man/Makefile
engine/Makefile
engine/doc/Makefile
engine/objconv/Makefile
engine/config.h
engine/setup/Makefile
Makefile
setup/src/include/version.h
src/version.h
test_assets/python_tests.py
test_assets/units.json
test_assets/vegastrike.config
CMakeUserPresets.json
/share/
/vcpkg_installed/
