<vegaconfig>
    <variables>
        <section name="test">
            <var name="boolean_variable" value="true"/>
            <var name="int_variable" value="15"/>
            <var name="float_variable" value="4.2"/>
            <var name="string_variable" value="hello"/>
            <var name="escaped_string_variable" value="#FF0000Hello\r\nthere!#000000" />
            <section name="subsection">
                <var name="subsection_boolean_variable" value="true"/>
                <var name="subsection_int_variable" value="15"/>
                <var name="subsection_float_variable" value="4.2"/>
                <var name="subsection_string_variable" value="hello"/>
                <var name="subsection_escaped_string_variable" value="#FF0000Hello\r\nthere!#000000" />
            </section>
        </section>
    </variables>
</vegaconfig>
