#!/usr/bin/python
import cgitb; cgitb.enable()
import cgi
header = """
<!DOCTYPE html>
"""
f=open ("/u/danielrh/win/acctserver/vegastrike.config")
s=f.read()
f.close()
print header
form = cgi.FieldStorage()
#check_form(form)
username = form["username"].value
password = form["password"].value
wherecallsign=s.find('"callsign"')
wherepassword=s.find('"password"')
wherename=s.find('"realname"')
whereforcenet=s.find('"force_client_connect"')
wheredefmis  =s.find('"default_mission"')
def myreplace(s,where,replacer):
	if where==-1:
		return s
	keyfind='value="'
	where2=s[where:].find(keyfind)
	if where2==-1:
		return s
	where2+=len(keyfind)+where
	where3=s[where2:].find('"')
	if where3==-1:
		return s
	where3+=where2
	return s[:where2]+replacer+s[where3:]
s=s.replace('<bind key="y" modifier="none" command="SwitchCombatMode" />','<!--<bind key="y" modifier="none" command="SwitchCombatMode" />-->')
#s=s.replace('<bind key="a" modifier="none" command="ToggleWarpDrive" />','<!--<bind key="a" modifier="none" command="ToggleWarpDrive" />-->');
s=myreplace (s,wherecallsign,username);
s=myreplace (s,wherepassword,password);
s=myreplace (s,wherename,username);
s=myreplace (s,whereforcenet,"true")
s=myreplace (s,wheredefmis,"net.mission")
print s
