name: 'GH Actions - Release'

on:
  release:
    types:
      - created
      - edited

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    continue-on-error: true

    strategy:
      fail-fast: false
      matrix:
        include:
          - FROM:     'ubuntu:jammy'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'deb'
          - FROM:     'ubuntu:jammy'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'deb'
          - FROM:     'ubuntu:focal'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'deb'
          - FROM:     'ubuntu:focal'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'deb'
          # Source tarballs only
          - FROM:     'ubuntu:focal'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'tar.[xb]z*'
          - FROM:     'ubuntu:bionic'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'deb'
          - FROM:     'ubuntu:bionic'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'deb'
          - FROM:     'linuxmintd/mint21-amd64'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'deb'
          - FROM:     'linuxmintd/mint21-amd64'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'deb'
          - FROM:     'linuxmintd/mint20-amd64'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'deb'
          - FROM:     'linuxmintd/mint20-amd64'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'deb'
          - FROM:     'debian:bookworm'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'deb'
          - FROM:     'debian:bookworm'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'deb'
          - FROM:     'debian:bullseye'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'deb'
          - FROM:     'debian:bullseye'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'deb'
          - FROM:     'debian:buster'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'deb'
          - FROM:     'debian:buster'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'deb'
          - FROM:     'opensuse/leap:15.4'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'opensuse/leap:15.4'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'opensuse/leap:15.3'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'opensuse/leap:15.3'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'opensuse/leap:15.2'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'opensuse/leap:15.2'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'fedora:37'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'fedora:37'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'fedora:36'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'fedora:36'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'fedora:35'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'fedora:35'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'rockylinux:9.0'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'rockylinux:9.0'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'rockylinux:8.6'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'rockylinux:8.6'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'rockylinux:8.5'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'rockylinux:8.5'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ARTIFACT_EXT: 'rpm'

    steps:
      - name: Check out repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1
        with:
          fetch-depth: 2
          submodules: false

      - name: Extract tag name and short SHA
        shell: bash
        run: |
          echo "TAG_NAME=$(echo ${GITHUB_REF#refs/tags/} | sed 's/\//_/g')" >> $GITHUB_ENV
          echo "SHORT_SHA=`git rev-parse --short HEAD`" >> $GITHUB_ENV
      - name: Test tag name and short SHA
        run: |
          echo "${TAG_NAME}"
          echo "${SHORT_SHA}"
      - name: Run CI
        env:
          FROM:       ${{ matrix.FROM }}
          COMPILER:   ${{ matrix.COMPILER }}
          FLAGS:      '-DOpenGL_GL_PREFERENCE=${{ matrix.OpenGL_GL_PREFERENCE }}'
          MY_OS_NAME: linux
          IS_RELEASE: 1
        run: script/cibuild $FLAGS
      - name: Upload the artifacts
        uses: skx/github-action-publish-binaries@44887b225ceca96efd8a912d39c09ad70312af31 # master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ARTIFACT_EXT: ${{ matrix.ARTIFACT_EXT }}
        with:
          args: "packages/*.${{ matrix.ARTIFACT_EXT }}"
