name: 'GH Actions - PR'

on: [ pull_request ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.allow_failure }}

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix:
        include:
          - FROM:     'ubuntu:mantic'
            COMPILER: 'gcc'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ENABLE_PIE: 'OFF'
            allow_failure: true
          - FROM:     'ubuntu:mantic'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ENABLE_PIE: 'OFF'
            allow_failure: true
          - FROM:     'ubuntu:mantic'
            COMPILER: 'gcc'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: true
          - FROM:     'ubuntu:mantic'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: true
          - FROM:     'ubuntu:jammy'
            COMPILER: 'gcc'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: false
          - FROM:     'ubuntu:jammy'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: false
          - FROM:     'ubuntu:focal'
            COMPILER: 'gcc'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: false
          - FROM:     'ubuntu:focal'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: false
          - FROM:     'linuxmintd/mint21.1-amd64'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: true
          - FROM:     'linuxmintd/mint21-amd64'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: false
          - FROM:     'linuxmintd/mint20-amd64'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: false
          - FROM:     'debian:bookworm'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: false
          - FROM:     'debian:bullseye'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'OFF'
            allow_failure: false
          - FROM:     'opensuse/leap:15.5'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ENABLE_PIE: 'ON'
            allow_failure: true
          - FROM:     'opensuse/leap:15.5'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'ON'
            allow_failure: true
          - FROM:     'opensuse/leap:15.4'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'ON'
            allow_failure: false
          - FROM:     'fedora:40'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'LEGACY'
            ENABLE_PIE: 'ON'
            allow_failure: true
          - FROM:     'fedora:40'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'ON'
            allow_failure: true
          - FROM:     'fedora:39'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'ON'
            allow_failure: false
          - FROM:     'fedora:38'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'ON'
            allow_failure: false
          - FROM:     'rockylinux:9.3'
            COMPILER: 'clang'
            OpenGL_GL_PREFERENCE: 'GLVND'
            ENABLE_PIE: 'ON'
            allow_failure: false
          #- FROM:     'rockylinux:8.9'
          #  COMPILER: 'clang'
          #  OpenGL_GL_PREFERENCE: 'GLVND'
          #  ENABLE_PIE: 'ON'
          #  allow_failure: false
          #- FROM:     'manjarolinux/base'
          #  COMPILER: 'clang'
          #  OpenGL_GL_PREFERENCE: 'LEGACY'
          #  ENABLE_PIE: 'ON'
          #  allow_failure: true
          #- FROM:     'manjarolinux/base'
          #  COMPILER: 'clang'
          #  OpenGL_GL_PREFERENCE: 'GLVND'
          #  ENABLE_PIE: 'ON'
          #  allow_failure: true
          #- FROM:     'funtoo/stage3-generic_64'
          #  COMPILER: 'gcc'
          #  OpenGL_GL_PREFERENCE: 'LEGACY'
          #  ENABLE_PIE: 'ON'
          #  allow_failure: true
          #- FROM:     'funtoo/stage3-generic_64'
          #  COMPILER: 'gcc'
          #  OpenGL_GL_PREFERENCE: 'GLVND'
          #  ENABLE_PIE: 'ON'
          #  allow_failure: true

    steps:
      - name: Check out repository
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f #v4.1.3
        with:
          fetch-depth: 2
          submodules: false

      # Ensure PRs are built against the PR Head
      # As opposed to the merge commit
      - name: Move to PR HEAD
        run: git checkout ${{ github.event.pull_request.head.sha }}

      - name: Extract short SHA
        shell: bash
        run: |
          echo "SHORT_SHA=`git rev-parse --short ${{ github.event.pull_request.head.sha }}`" >> $GITHUB_ENV
      - name: Test short SHA
        run: |
          echo "${SHORT_SHA}"

      - name: Build and Test
        env:
          FROM:       ${{ matrix.FROM }}
          COMPILER:   ${{ matrix.COMPILER }}
          FLAGS:      '-DOpenGL_GL_PREFERENCE=${{ matrix.OpenGL_GL_PREFERENCE }} -DENABLE_PIE=${{ matrix.ENABLE_PIE }}'
          MY_OS_NAME: linux
          IS_RELEASE: 0
        run: script/cibuild $FLAGS

      # The tests are run from inside the Docker container, by script/docker-entrypoint.sh.
      # No need to run them explicitly from here.

      - name: Upload test results
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        if: failure()
        with:
          name: test_results_xml
          path: ${{github.workspace}}/test-results/**/*.xml
