name: 'MacOS-CI'
permissions:
    contents: read
    pull-requests: read

on:
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    continue-on-error: false

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macOS-15-intel
            build-type: Debug
            preset-name: macos-pie-enabled-debug
            python-version: 3.14.0
          - os: macOS-15-intel
            build-type: RelWithDebInfo
            preset-name: macos-pie-enabled-RelWithDebInfo
            python-version: 3.14.0

    steps:
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        id: vega-py-setup
        with:
          python-version: ${{ matrix.python-version }}
          update-environment: false

      # The following dependencies are already present within macos-* images:
      # MacOS has a Developers Tools package from Apple that gets installed which
      # provides some minimal functionality:
      #   XCode (which uses CLang/LLVM)
      #   git
      - name: Install the latest version of Bash so we can rely on it
        run: brew install bash

      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2
          submodules: false

      - name: Bootstrap MacOS
        run: script/bootstrap-mac.sh

      # Note: it might be good to use a step to detect where OpenAL-Soft is
      # installed and set it to a GHA variable that can be consumed below
      - name: Build it
        env:
          MY_OS_NAME: macos
          COMPILER:   ${{ matrix.compiler }}
          Python3_ROOT_DIR: ${{ steps.vega-py-setup.outputs.python-path }}
          Python_ROOT_DIR: ${{ steps.vega-py-setup.outputs.python-path }}
          pythonLocation: ${{ steps.vega-py-setup.outputs.python-path }}
          PYTHONHOME: ""
          PYTHONPATH: ""
          INSTALL_GTEST: true
          USE_GTEST: true
          INSTALL_SDL3: false
          INSTALL_SDL3_IMAGE: false
        run: script/cibuild --preset-name=${{ matrix.preset-name }}

      - name: Test
        working-directory: ${{github.workspace}}
        env:
          GTEST_OUTPUT: xml
          GTEST_COLOR: 1
        run: ctest -V --preset-name=${{ matrix.preset-name }}

      - name: Upload test results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: failure()
        with:
          name: test_results_xml
          path: ${{github.workspace}}/build/test-results/**/*.xml
