name: 'MacOS-CI'

on:
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    continue-on-error: false

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          # - macos-14
        compiler:
          - clang
          - gcc
        homebrew-gl:
          - true
          # - false
        homebrew-al:
          - true
          #- false
        ENABLE_PIE:
          - 'ON'

    steps:

      # The following dependencies are already present within macos-* images:
      # - clang (llvm)
      # - cmake
      # - expat
      # - gcc
      # - git
      # - jpeg
      # - libpng
      # - libvorbis
      # - python
      - name: Setup Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        id: vega-py-setup
        with:
          python-version: |
            3.13.1
            3.12.8
          update-environment: true # false
      
      - name: Install dependencies using homebrew
        run: brew install boost-python3 gtk+3 gtkglext sdl libvorbis

      # The following Apple-provided libraries are deprecated:
      # * OpenGL as of macOS 10.14
      # * GLUT as of macOS 10.9
      - name: Optionally install homebrewed OpenGL and GLUT
        if: ${{ matrix.homebrew-gl }}
        run: |
          brew install mesa mesa-glu freeglut
          ln -s "$(brew --prefix)/include/GL" "$(brew --prefix)/include/OpenGL"
          ln -s "$(brew --prefix)/include/GL" "$(brew --prefix)/include/GLUT"

      # The Apple-provided OpenAL is deprecated as of macOS 10.15
      - name: Optionally install homebrewed OpenAL
        if: ${{ matrix.homebrew-al }}
        run: brew install openal-soft

      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 2
          submodules: false

      # Ensure PRs are built against the PR Head as opposed to the merge commit
      - name: Conditionally relocate to PR HEAD
        if: github.event.pull_request
        run: git checkout HEAD^2

      - name: Build it
        env:
          MY_OS_NAME: macos
          COMPILER:   ${{ matrix.compiler }}
          FLAGS:      "-DCMAKE_FIND_FRAMEWORK=LAST -DENABLE_PIE=${{ matrix.ENABLE_PIE }}"
          OPENALDIR:  "$(brew --prefix)/opt/openal-soft"
        run: script/cibuild $FLAGS

      - name: Test
        working-directory: ${{github.workspace}}/build
        env:
          GTEST_OUTPUT: xml
          GTEST_COLOR: 1
        run: ctest -V

      - name: Upload test results
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
        if: failure()
        with:
          name: test_results_xml
          path: ${{github.workspace}}/build/test-results/**/*.xml
