name: Windows-CI

# Controls when the action will run.
on:
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os:              windows-2022
            cmake-generator: VS2022Win64
            enable-pie:      1
            build-type:      Debug
            is-release:      0
          - os:              windows-2025
            cmake-generator: VS2022Win64
            enable-pie:      1
            build-type:      RelWithDebInfo
            is-release:      0

    env:
      # Indicates the location of vcpkg
      VCPKG_ROOT: '${{ github.workspace }}/v'
      # Tells vcpkg where binary packages are stored.
      VCPKG_DEFAULT_BINARY_CACHE: '${{ github.workspace }}/vbincache'
      # Let's use GitHub Action cache as storage for the vcpkg Binary Caching feature.
      VCPKG_BINARY_SOURCES: clear;files,${{ github.workspace }}/vcpkg_cache,readwrite
      VCPKG_DEFAULT_TRIPLET: x64-windows-win10
      VCPKG_DEFAULT_HOST_TRIPLET: x64-windows-win10

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f #v4.1.3

      - name: Restore vcpkg cache
        id: cache-vcpkg-restore
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: vcpkg-${{ matrix.os }}-${{ matrix.triplet }}-${{ hashFiles('vcpkg.json') }}
          restore-keys: vcpkg-${{ matrix.os }}-${{ matrix.triplet }}-

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.11

      - name: "Create directory '${{ env.VCPKG_DEFAULT_BINARY_CACHE }}'"
        run: mkdir -p $VCPKG_DEFAULT_BINARY_CACHE
        shell: bash

      - name: install-cmake
        uses: lukka/get-cmake@628dd514bed37cb0a609e84a6186cbbaa2fc0140 # v4.1.2
        with:
          cmakeVersion: 3.31.4
          ninjaVersion: 1.11.1

      - name: install-vcpkg
        if: steps.cache-vcpkg-restore.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/Microsoft/vcpkg.git ${{ env.VCPKG_ROOT }}
          ${{ env.VCPKG_ROOT }}\bootstrap-vcpkg.bat -disableMetrics

      - name: run-build-script
        working-directory: ${{ github.workspace }}
        run: .\script\build.ps1 -Generator ${{ matrix.cmake-generator }} -EnablePIE ${{ matrix.enable-pie }} -BuildType ${{ matrix.build-type }} -IsRelease ${{ matrix.is-release }}

      - name: Save vcpkg cache
        id: cache-vcpkg-save
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: ${{ steps.cache-vcpkg-restore.outputs.cache-primary-key }}

      - name: Test
        working-directory: ${{ github.workspace }}
        env:
          GTEST_OUTPUT: xml
          GTEST_COLOR: 1
        run: .\script\test.ps1 -Generator ${{ matrix.cmake-generator }} -EnablePIE ${{ matrix.enable-pie }} -BuildType ${{ matrix.build-type }}

      - name: Upload test results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: failure()
        with:
          name: test_results_xml
          path: ${{ github.workspace }}/**/test-results/**/*.xml
